{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "global-require": "error",
    "import/prefer-default-export": "off",
    "no-param-reassign": "off",
    "react/jsx-filename-extension": ["error", {
      "extensions": [".js", ".jsx"]
    }],
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": [true, { "forbid": ["any"] }]
  }
}
